body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* stared header*/ 
.header{
    background: #3B5998;
    overflow: hidden;
    padding: 8px 0;
}
.header::after{
    content: '';
    clear: both;
    display: block;
}
.container{
    width: 58%;
    margin: auto;
    max-width: 1000px;
}
.logo-area{
    width: 30%;
    float: left;
}
.logo-area img{
    width: 140px;
    margin-top: 20px;
    margin-left: 10px;
}
.login-area{
    width: 70%;
    float: left;
    color: white;
}
.login-area form{
    float: right;
    margin-right: 10px;
}
.login-area label,
.login-area input{
    display: block;
}
.login-area .email,
.login-area .password,
.login-area .login{
    float: left;
    margin-right: 15px;
}
.login-area label{
    font-size: 10px;
    margin: 5px;
}
.login-area .login{
    margin-right: o;
}
.login-area input[type="text"],
.login-area input[type="password"]{
    border: 1px solid #000;
    font-size: 14px;
    font-weight: 300;
    padding: 2px 3px;
}
.login-area .password a{
    text-decoration: none;
    color: #9cb4d8;
    font-size: 12px;
}
.login-area .password a:hover{
    text-decoration: underline;
}
.login-area input[type="submit"]{
    background-color: #4267b2;
    border: 1px solid #29487d;
    color: #fff;
    padding: 3px 8px;
    margin-top: 22px; 
}
.login input:hover{
    cursor: pointer;
    background: #3B5998;
}
/* ended header area/

/* started sign up */

.signup-area{
    padding: 25px 0;
    background: linear-gradient(#ffffff, #D4D9E9);
}

.signup-area::after{
    content: '';
    clear: both;
    display: block;
}
.left-area{
    width: 55%;
    float: left;
}
.left-area p{
    color: #0e385f;
    font-size: 20px;
    font-weight: 600;
    width: 90%;
}
.left-area img{
    width: 100%;
}
.right-area{
    width: 45%;
    float: left;
}
.rigth-area h2{
    font-size: 33px;
    color: #333;
    margin: 0;
}
.right-area h4{
    font-size: 19px;
    color: #1d2129;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}
.right-area input[type="text"],
.right-area input[type="password"]{
    width: 100%;
    box-sizing: border-box;
    border:1px solid #bdc7d8;
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 18px;
    margin: 5px 0;
}
.full-name{
    overflow: hidden;
}
.first-name{
    width: 48%;
    float: left;
    margin-right: 4%;
}
.surname{
    width: 48%;
    float: left;
}
.birthday{
    overflow: hidden;
}
.birthday h4{
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
}
.birth-date{
    overflow: hidden;
    float: left;
    margin-right: 10px;
}
.birth-date select{
    border: 1px solid #ccc;
    padding: 5px;
    float: left;
}
.birth-link{
    width: 190px;
    float: left;
}
.birth-link a{
    font-size: 15px;
    display: block;
    line-height: 1.1;
    text-decoration: none;
    color: #365899;
}
.qus{
    font-size: 15px;
    max-width: 150px;
    display: inline-block;
    margin-left: 3px; 
    margin-top: 7px;
    cursor: pointer;
    text-decoration: none;
}
.birth-link a:hover{
    text-decoration: underline;
}
.gender{
    margin: 10px 0px;
}
.gender label{
    font-size: 20px;
    font-weight: 400;
    color: #1d2129;
    line-height: 18px;
    margin: 0 10px 0 3px;
}
.gender h4{
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
}
.qus2{
    color: #365899;
    font-size: 15px;
    max-width: 150px;
    display: inline-block;
    margin-left: 3px; 
    margin-top: 7px;
    cursor: pointer;
    text-decoration: none; 
}
.text-box{
    margin-bottom: 20px;
}
.text-box p{
    font-size: 11px;
    color: #777;
    width: 80%;
}
.text-box a{
    text-decoration: none;
    color: #365899;
}
.text-box a:hover{
    text-decoration: underline;
}
.btn{
    margin-bottom: 30px;
}
.btn input{
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border: 1px solid;
    border-color: #3b6e22 #3b6e22 #2c5115;
    padding: 7px 14px;
    min-width: 194px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    font-weight: 400;
    font-size: 20px;
    transition: 0.5s;
}
.btn input:hover{
    background: linear-gradient(#578843,#67ae55);
    cursor: pointer;
}
.business{
    font-weight: 600;
    color: #666;
    font-size: 13px;
    padding-top:15px;
    margin-top:10px; 
}
.business a{
    text-decoration: none;
    color:#365899;
}
.business a:hover{
    text-decoration: underline;
}

/* footer area stared */

.footer-area{
    padding: 20px 0;
}
.footer-area .bottom{
    margin-top: 30px;
}
.footer-area ul{
    margin:0;
    padding: 0;
}
.footer-area ul li{
    display: inline;
}
.footer-area ul li a{
    text-decoration: none;
    color: #365899;
    font-size: 11px;
}
.footer-area ul li.active a{
    color: #737373;
}
.footer-area .top ul li{
    margin-right: 8px;
}
.footer-area .middle ul li{
    margin-right: 12px;
}
.footer-area .top ul li:last-child,
.footer-area .bottom ul li:last-child{
    margin-right: 0;
}
.footer-area .top ul li:last-child a span{
    border: 1px solid;
    border-color: #ccd0d5;
    padding: 1px 6px;
    font-size: 12px;
    font-weight: 600;
    text-shadow: none;
    background-color: #f5f6f7;
    color: #4b4f56;
}
.footer-area hr{
    border: 0;
    border-bottom: 1px solid #d4d4d4;
}
.footer-area .bottom span{
    color: #737373;
    font-size: 10px;
}
